!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
*.config.*
*.vsix
.gitignore
.travis.yml
.vscode-test/**
.vscode/**
client/node_modules/**
contributing.md
**/coverage
src
tsconfig.json
vsc-extension-quickstart.md
scripts
bin
demos